* {
  font-family: "Familjen Grotesk", sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
  color: #100f3f;
  scroll-behavior: smooth;
}
.content-center {
  display: flex;
  justify-content: center;
}
.my-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}
.br-right {
  border-right: 2px solid #94b9ff;
}
.common-banner-text {
  text-align: center;
  font-size: 30px;
  border-bottom: 2px solid gray;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media(max-width:991px){
  .br-right {
    border-right: none !important;
  }
}