.leagal-aid-section {
  margin-top: 40px;
}
.legal-aid-heading {
  font-size: 28px;
  font-weight: 600;
  padding-left: 30px;
  margin-bottom: 20px;
}
.tabs-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 100px;
}
.tab-header {
  display: flex;
  background-color: #f7f9ff;
  padding: 0 10px;
  border-radius: 5px;
  margin: 0 20px;
  overflow: hidden;
}
.tab-header div {
  margin: 0 20px;
  padding: 10px;
  cursor: pointer;
}
.tab-content {
  margin: 10px;
}
.legal-aid-card {
  background-color: #f7f9ff;
  margin: 10px;
  border-radius: 10px;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 400px;
}
.leagal-aid-card-header {
  font-size: 24px;
  font-weight: 600;
  margin: 40px auto;
  width: 100%;
}
.legal-aid-card-btn {
  margin-top: 40px;
  width: 100%;
}
.legal-aid-card-btn button {
  width: 100%;
  background-color: #94b9ff !important;
  color: #100f3f !important;
}
.leagal-aid-card-value {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}
.new-price {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}
.old-price {
  font-size: 20px;
  text-decoration: line-through;
  text-align: center;
}
.active-tab {
  border-bottom: 2px solid #100f3f;
}
.show {
  display: block;
}
.hide {
  display: none;
}
@media (max-width: 991px) {
  .tabs-container {
    padding-left: 10px !important;
  }
}
